.main {
	display: flex;
	flex-wrap: wrap; /* Чтобы элементы переносились на новую строку при нехватке места */
	justify-content: space-around; /* Чтобы элементы равномерно распределялись по горизонтали */
	width: 99vw;
	margin-top: 40px;
	/* background-color: bisque; */
}

.image__container p {
	/* background-color: chocolate; */
	text-align: left;
	display: flex;
	/* justify-content: center; */
	/* justify-content: space-around; */
}

.image__container img {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 320px;
	max-width: 500px;
}

.image__container {
	/* background-color: aqua; */
	height: 450px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	word-break: break-all;
	align-items: center;
	/* overflow: hidden; */
	/* max-width: 400px; */
	text-align: left !important;
	margin: 10px 0 10px 0;

	/* align-items: center; */
	/* margin-top: 9px; */
}

ul {
	list-style-type: none; /* Убираем маркеры у списка */
	padding: 0;
}

li {
	display: flex; /* Располагаем элементы в строку */
}

.user {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* background-color: brown; */
}

.user__img {
	margin-right: 10px;
}

.user h3 {
	margin-right: 10vw;
}

.subscribe {
	height: 30px;
	width: 120px;
	border-radius: 5px;
	background-color: #943dd7;
	color: #ffffff;
	border: none;
	font-size: 16px;
}

.subscribed {
	height: 30px;
	width: 120px;
	border-radius: 5px;
	background-color: #7732ac;
	color: #ffffff;
	border: none;
	font-size: 16px;
}

.card__buttons {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	/* background-color: rgb(121, 9, 118); */
}

.dop {
	/* background-color: aqua; */
}

.card__buttons > :first-child {
	margin-right: 10px;
}

.card__buttons > :last-child {
	margin-left: auto;
}

.title__container {
	text-align: center;
	margin: 0px;
	padding: 0;
	/* background-color: #943dd7; */
}

h2 {
	margin: 0px;
}

* {
	cursor: default;
}

.card {
	/* border: 2px solid #943dd7; */
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 50px;
	/* background-color: brown; */
	width: 500px;
	text-align: left;

	/* height: 700px; */
	/* display: flex;
	align-items: center;
	flex-direction: column; */
	background-color: #943dd715;
	display: block;
	flex-wrap: wrap;
	background-color: #fff;
	/* padding: 20px;
    border-radius: 10px; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.card:hover {
	transform: translateY(-10px); /* поднимает блок на 10px вверх */
	transition: 0.3s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.313);
}

.main__content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: blue;
}

.username {
}

.buttons__card {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.buttons__card:active {
	transform: scale(1.2);
}
